config SHIELD_ROARD_LEFT
    def_bool $(shields_list_contains,roard_left)

config SHIELD_ROARD_RIGHT
    def_bool $(shields_list_contains,roard_right)

config SHIELD_ROARD_DONGLE
    def_bool $(shields_list_contains,roard_dongle)
